<div class="landing-cover">
    <div class="img-container left-img-container">
        <img src="assets/images/aboutme2.png" />
    </div>
    <div class="main-content">
        <h1>Alex is a great person to hire</h1>
        <p>Hire now for only 80k CAD/year. While opportunity last</p>
    </div>
    <div class="img-container right-img-container">
        <img src="assets/images/aboutme2.png" />
    </div>
</div>
<div class="about-me-section">
    <div class="panel">
        <img src="assets/images/alex-fang.png" />
        <div>
            <h1>This is a lorem ipsum header </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error perferendis blanditiis aspernatur
                repudiandae est illum eveniet distinctio consectetur qui sunt ex minus praesentium ea temporibus,
                deleniti possimus laborum esse? Aut.</p>
            <button (click)="navigateToPage('/about-me')">Read More</button>
        </div>
    </div>
</div>

<div class="project-section">
    <h1>Featured Projects</h1>
    <div class="projects">
        <div class="img-container">
            <img src="assets/images/aboutme2.png" (click)="navigateToPage('/projects/audioengine')" />
        </div>
        <div class="img-container">
            <img src="assets/images/aboutme2.png" (click)="navigateToPage('/projects/audioengine')" />
        </div>
        <div class="img-container">
            <img src="assets/images/aboutme2.png" (click)="navigateToPage('/projects/audioengine')" />
        </div>
    </div>
    <button (click)="navigateToPage('/projects')">Learn More</button>
</div>