<div class="landing-cover">
    <div class="img-container left-img-container">
        <img src="assets/images/aboutme2.png" />
    </div>
    <div class="main-content">
        <h1>Meet Alex</h1>
        <p>
            A self-driven individual dedicated to continuous growth who is equipped with a diverse array of talents
        </p>
    </div>
    <div class="img-container right-img-container">
        <img src="assets/images/aboutme2.png" />
    </div>
</div>
<div class="about-me-section">
    <div class="panel">
        <img src="assets/images/alex-fang.png" />
        <div>
            <h1>Modern Design Web Developer</h1>
            <p>
                Skilled Software Development Graduate with Proficiency in Modern Web Technologies and AWS Solutions.
                Demonstrated aptitude in responsive web design, collaborative project execution, and innovative software
                development.
            </p>
            <div class="social-media-row">
                <div><i class="fa fa-brands fa-linkedin-square social-media-icon"></i> <a
                        href="https://www.linkedin.com/in/ching-yang-alex-fang-67795686/" target="_blank">LinkedIn</a>
                </div>
                <div><i class="fa fa-brands fa-github social-media-icon"></i> <a href="https://github.com/alexfang324"
                        target="_blank">alexfang324</a></div>
            </div>

            <button (click)="navigateToPage('/about-me')">Read More</button>
        </div>
    </div>
</div>

<div class="project-section">
    <h1>Featured Projects</h1>
    <div class="carousel_wrapper">
        <div class=" carousel">
            <div class="slide one">
                <img src="assets/images/nova-main.png" (click)="navigateToPage('/projects/nova')" />
            </div>
            <div class="slide two">
                <img src="assets/images/movie-homepage.png" (click)="navigateToPage('/projects/mvdb')" />
            </div>
            <div class="slide three">
                <img src="assets/images/profile-main.png" (click)="navigateToPage('/projects/angular-profile')" />
            </div>
            <div class="slide four">
                <img src="assets/images/bike-main.png" (click)="navigateToPage('/projects/ray-bike-suppreme')" />
            </div>
        </div>
    </div>
    <button (click)="navigateToPage('/projects')">Learn More</button>
</div>