.landing-cover {
  width: 100%;
  aspect-ratio: 2 / 1;
  position: relative;
  background-color: lightsalmon;

  .img-container {
    position: absolute;
    width: 35%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
  }

  .left-img-container {
    top: 0;
    left: 0;
  }

  .right-img-container {
    bottom: 0;
    right: 0;
  }

  img {
    height: 100%;
    object-fit: cover;
  }
}

.main-content {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 35%;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1 / 1;
  background-color: lightgoldenrodyellow;
  padding: 20px;
  z-index: 10;

  h1 {
    margin-top: 0;
    font-size: 14px;
  }
  p {
    font-size: 10px;
  }
}

.about-me-section {
  .panel {
    display: flex;
    align-items: center;
    gap: 10%;
    margin: auto;
    margin-top: 20px;
    width: 60%;
    min-width: 350px;
    max-width: 700px;
  }

  img {
    width: 40%;
    max-width: 200px;
  }
  h1 {
    font-size: 14px;
  }
  p {
    font-size: 10px;
  }
}

@media (min-width: 500px) {
  .main-content,
  .about-me-section {
    h1 {
      font-size: 18px;
    }
    p {
      font-size: 12px;
    }
  }
}

@media (min-width: 600px) {
  .main-content,
  .about-me-section {
    h1 {
      font-size: 22px;
    }
    p {
      font-size: 14px;
    }
  }
}

@media (min-width: 768px) {
  .main-content {
    h1 {
      font-size: 32px;
    }
    p {
      font-size: 22px;
    }
  }
}

@media (min-width: 1024px) {
  .main-content {
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 22px;
    }
  }
}

// =========================================
.carousel {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.tile {
  flex: 0 0 30%; /* Set initial width for tiles */
  height: 200px;
  border: 1px solid #ccc;
  text-align: center;
  transition: transform 0.5s ease;

  img {
    width: 200px;
  }
}

.center-tile {
  transform: scale(1.1); /* Make center tile slightly larger */
  z-index: 2; /* Bring center tile to the front */
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.left-arrow {
  left: -10px;
}

.right-arrow {
  right: -10px;
}
