<div class="projects-section">
  <ul class="sidebar" id="sidebar">
    <li class="heading" *ngIf="categoryFilter || tagFilter">
      <b>Filter</b>
    </li>
    <li *ngIf="categoryFilter || tagFilter">
      {{categoryFilter? categoryFilter.name:tagFilter?.name}}
      <i class="fa fa-trash-o" (click)="clearFilters()"></i>
    </li>
    <li class="heading"><b>Categories</b></li>
    <li *ngFor="let category of categories" (click)="setCategoryFilter(category)">{{category.name}}</li>
    <li class="heading"><b>Tags</b></li>
    <li *ngFor="let tag of tags" (click)="setTagFilter(tag)">{{tag.name}}</li>
  </ul>
  <div class="project-grid">
    <div class="grid-item" *ngFor="let project of projects"
      [class.hidden]="(categoryFilter && !project.category_ids.includes(categoryFilter.id)) || (tagFilter && !project.tag_ids.includes(tagFilter.id))">
      <div class="img-container">
        <img [src]="project.snapshotImgPaths[0]" (mouseover)="shiftImage($event)" (mouseout)="unShiftImage($event)" />
      </div>
      <h1>{{project.name}}</h1>
      <p>{{project.shortDescription}}</p>
    </div>
  </div>
</div>