@import "../../../styles.scss";

.projects-section {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: $small-spacing;
}

.sidebar {
  min-width: 150px;
  background-color: rgb(175, 241, 219);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0;
  height: fit-content;
}
li {
  list-style: none;
  padding-bottom: 5px;
}
li:not(.heading) {
  margin-left: 20px;
}

.project-grid {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  column-gap: 25px;
  align-items: center;
}

.grid-item {
  padding: 10px;
  margin-bottom: 25px;
  width: 250px;
  border: solid grey 1px;
  border-radius: 10px;

  &.hidden {
    display: none;
  }

  h1,
  p {
    text-align: center;
    margin: 10px 0;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis;
  }
}

.img-container {
  position: relative;
  width: 100%;
  aspect-ratio: 9 / 12;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120%;
    height: 110%;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease;

    //triggered by mouseover
    //I am shifting slightly less than having img edge against the edge of its container
    //due to border-radius issue
    &.shift-left {
      transform: translate(-42%, -50%);
    }
    &.shift-right {
      transform: translate(-58%, -50%);
    }
    &.shift-top {
      transform: translate(-50%, -46%);
    }
    &.shift-bottom {
      transform: translate(-50%, -54%);
    }
  }
}

@media (min-width: 800px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  //reset margin in other media queries (must use n due to specifity)
  .grid-item:nth-child(n) {
    margin-top: 0;
    margin-bottom: 0;
  }
  .grid-item:nth-child(2n) {
    margin-top: 50px;
    margin-bottom: -25px; //works with top margin to maintain row gap
  }
}

@media (min-width: 1100px) {
  .project-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-item:nth-child(n) {
    margin-top: 0;
    margin-bottom: 0;
  }
  .grid-item:nth-child(3n-1) {
    margin-top: 50px;
    margin-bottom: -25px;
  }
}

@media (min-width: 1300px) {
  .project-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-item:nth-child(n) {
    margin-top: 0;
    margin-bottom: 0;
  }
  .grid-item:nth-child(2n) {
    margin-top: 50px;
    margin-bottom: -25px;
  }
}
