<div class="about-me-section">
  <h1 class="narrative word-by-word">Alex was a . . .</h1>
  <div class="researcher-section fade-in-element">
    <div class="image-container">
      <img src="assets/images/aboutme1.png" />
      <div class="gradient-overlay"></div>
    </div>
    <h1 class="title word-by-word-8">Academic Researcher</h1>
    <div class="publications fade-in-after">
      <h2>Publications:</h2>
      <ol>
        <li>
          M. Lindstrom, <b>A. C. Y. Fang</b>, R. F. Kiefl, J Supercond Nov Magn, 29, 1499–1507 (2016) [<a
            href="assets/pdfs/YBCO_2016.pdf" target=”_blank”>PDF</a>]
        </li>
        <li>
          <b>A. C. Y. Fang</b> et. al, JPS Conf. Proc. 011029 (2018) [<a href="assets/pdfs/UBe13_2018.pdf"
            target=”_blank”>PDF</a>]
        </li>
        <li>
          A. Pal, S. R. Dunsiger, K. Akintola, <b>A. C. Y. Fang</b> et. al., Phys. Rev. B 97, 060502 (2018) [<a
            href="assets/pdfs/BSCCO_2018.pdf" target=”_blank”>PDF</a>]
        </li>
        <li>
          K. Akintola, A. Pal, S. R. Dunsiger, <b>A. C. Y. Fang</b> et. al., npj Quantum Materials, 3, 26 (2018) [<a
            href="assets/pdfs/SmB6_2018.pdf" target=”_blank”>PDF</a>]
        </li>
        <li>
          <b>A. C. Y. Fang</b> et. al, Phys. Rev. B, 100, 024404 (2019) [<a href="assets/pdfs/CePtPb_2019.pdf"
            target=”_blank”>PDF</a>]
        </li>
        <li>
          M. H. Dehn ..., <b>A. C. Y. Fang</b> et al., Phys. Rev. X, 10, 011036 (2020) [<a
            href="assets/pdfs/Cr2O3_2020.pdf" target=”_blank”>PDF</a>]
        </li>
      </ol>
    </div>

  </div>
</div>