<div class="about-me-section">
  <h1 class="narrative word-by-word">Alex was an . . .</h1>
  <div class="section researcher-section">
    <div class="section-wrapper fade-in-element">
      <div>
        <h1 class="title word-by-word-2">Academic Researcher</h1>
        <div class="content">
          <div class="sub-section fade-in-after-1">
            <h2>Educations:</h2>
            <ul>
              <li>2012-2016, <b>BSc.</b> Combined Physics and Comp. Sci. (<i>University of British Columbia</i>)</li>
              <li>2016-2018, <b>MSc.</b> Physics (<i>Simon Fraser University</i>)</li>
              <li>2023-2024, <b>Cert.</b> Software System Developer (<i>British Columbia Institute of Technology</i>)
              </li>
            </ul>
          </div>
          <div class="sub-section fade-in-after-2">
            <h2>Publications:</h2>
            <ol>
              <li>
                M. Lindstrom, <b>A. C. Y. Fang</b>, R. F. Kiefl, J Supercond Nov Magn, 29, 1499–1507 (2016) [<a
                  href="assets/pdfs/YBCO_2016.pdf" target=”_blank”>PDF</a>]
              </li>
              <li>
                <b>A. C. Y. Fang</b> et. al, JPS Conf. Proc. 011029 (2018) [<a href="assets/pdfs/UBe13_2018.pdf"
                  target=”_blank”>PDF</a>]
              </li>
              <li>
                A. Pal, S. R. Dunsiger, K. Akintola, <b>A. C. Y. Fang</b> et. al., Phys. Rev. B 97, 060502 (2018) [<a
                  href="assets/pdfs/BSCCO_2018.pdf" target=”_blank”>PDF</a>]
              </li>
              <li>
                K. Akintola, A. Pal, S. R. Dunsiger, <b>A. C. Y. Fang</b> et. al., npj Quantum Materials, 3, 26 (2018)
                [<a href="assets/pdfs/SmB6_2018.pdf" target=”_blank”>PDF</a>]
              </li>
              <li>
                <b>A. C. Y. Fang</b> et. al, Phys. Rev. B, 100, 024404 (2019) [<a href="assets/pdfs/CePtPb_2019.pdf"
                  target=”_blank”>PDF</a>]
              </li>
              <li>
                M. H. Dehn ..., <b>A. C. Y. Fang</b> et al., Phys. Rev. X, 10, 011036 (2020) [<a
                  href="assets/pdfs/Cr2O3_2020.pdf" target=”_blank”>PDF</a>]
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="image-container">
        <img src="assets/images/aboutme1.png" />
      </div>
    </div>
  </div>
  <div class="section reverse-section enterpreneur-section">
    <div class="section-wrapper fade-in-element">
      <div>
        <h1 class="title word-by-word-2">Enterpreneur</h1>
        <div class="content">
          <div class="sub-section fade-in-after-1">
            <h2>Eyewear Wholesale</h2>
            <p>
              Founded a trading company that transform client inspirations into tangible products, through seamless
              communication with both the clients and manufacturers to ensure the realization of each unique concept.
            </p>
          </div>
          <div class="sub-section fade-in-after-2">
            <h2>Ecommerce</h2>
            <p>
              Operates several Etsy shops in collaboration with artisan suppliers, prioritizing attentive communication
              with clients through responsive customer messaging to ensure their needs are met with bespoke, handmade
              creations.
            </p>
          </div>
        </div>
      </div>
      <div class="image-container">
        <img src="assets/images/aboutme2.png" />
      </div>
    </div>
  </div>
  <div class="section process-section">
    <div class="section-wrapper fade-in-element">
      <div>
        <h1 class="title word-by-word-2">Problem Solver</h1>
        <div class="content">
          <div class="sub-section fade-in-after-1">
            <h2>Process Developer</h2>
            <p>
              Set up the environment and processes for both of the business from product development,
              fulfillment, stock management, to accounting.
            </p>
          </div>
          <div class="sub-section fade-in-after-2">
            <h2>In-house App</h2>
            <p>
              self-learned programming and developed an in-house shop management app to help expedite the fulfillment
              and restock process while actively monitoring for sales stats and client feedback.
            </p>
          </div>
        </div>
      </div>
      <div class="image-container">
        <img src="assets/images/aboutme2.png" />
      </div>
    </div>
  </div>
  <div class="summary-section">
    <h1 class="narrative word-by-word">and now he is a software developer with the mindset of :</h1>
    <table class="fade-in-element">
      <tr>
        <td class="fade-in-after-2">
          <div class="image-container">
            <img src="assets/images/aboutme1.png" />
          </div>
        </td>
        <td class="spacer fade-in-after-3">+</td>
        <td class="fade-in-after-3">
          <div class="image-container">
            <img src="assets/images/aboutme2.png" />
          </div>
        </td>
        <td class="spacer fade-in-after-4">+</td>
        <td class="fade-in-after-4">
          <div class="image-container">
            <img src="assets/images/aboutme2.png" />
          </div>
        </td>
      </tr>
      <tr>
        <td class="fade-in-after-2">
          <h3>Logic</h3>
          <p>Critical Thinking<br>Incremental Improvement</p>
        </td>
        <td class="spacer"></td>
        <td class="fade-in-after-3">
          <h3>User-centric</h3>
          <p>Design with UX in mind<br>Proficiency gethering client needs</p>
        </td>
        <td class="spacer"></td>
        <td class="fade-in-after-4">
          <h3>Delivering results</h3>
          <p>Self-learning to solve the problem<br>Always seeking opportunities to optimize core
            business</p>
        </td>
      </tr>
    </table>

  </div>
</div>