<nav>
  <img id="nav-logo" src="assets/images/logo.png" />
  <div class="name">Alex Fang</div>
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page">Home</a>
    </li>
    <li>
      <a routerLink="/about-me" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page">About Me</a>
    </li>
    <li>
      <a routerLink="/projects" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page">Projects</a>
    </li>
  </ul>
</nav>
<main>
  <router-outlet></router-outlet>
</main>


<div #loadScreen id="load-screen">
  <div class="logo">
    <div class="line hexagon hex-line1"></div>
    <div class="line hexagon hex-line2"></div>
    <div class="line hexagon hex-line3"></div>
    <div class="line hexagon hex-line4"></div>
    <div class="line hexagon hex-line5"></div>
    <div class="line hexagon hex-line6"></div>
    <div class="line char-line1"></div>
    <div class="line char-line2"></div>
    <div class="line char-line3"></div>
  </div>
</div>