<nav>
  <img src="assets/images/audioengine_snapshot1.png" />
  <div class="name">Alex Fang</div>
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page">Home</a>
    </li>
    <li>
      <a routerLink="/about-me" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page">About Me</a>
    </li>
    <li>
      <a routerLink="/projects" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page">Projects</a>
    </li>
  </ul>
</nav>

<!-- <canvas #canvas>
</canvas>
<div class="line-container">
  <div class="line"></div>
</div>
 -->

<main>
  <router-outlet></router-outlet>
</main>