<div class="header">
  <h1>{{project?.name}}</h1>
  <p>{{project?.shortDescription}}</p>
</div>
<div class="detail-section">
  <div class="main-section">
    <div id="slider-container" class="slider-container">
      <img class="slider-img" [src]="project?.sliderImgPath" />
      <div class="hover-text">Hover Me</div>
    </div>
    <div>
      <p>{{project?.longDescription}}</p>

      <a href={{project?.github}} target="_blank" class="github-button"><i
          class="fa fa-brands fa-github social-media-icon"></i>GitHub</a>
    </div>
  </div>
  <div class="tech-section">
    <h1>About this project</h1>
    <div class="tech-content">
      <div class=" grid-item">
        <h2>Themes</h2>
        <ul class="tech-list">
          <li *ngFor="let theme of project?.themes">{{theme.name}}</li>
        </ul>
      </div>
      <div class=" grid-item">
        <h2>Technologies</h2>
        <ul class="tech-list">
          <li *ngFor="let tag of project?.tags">{{tag.name}}</li>
        </ul>
      </div>
      <div class=" grid-item">
        <h2>Hightlights</h2>
        <ul class="highlight-list">
          <li *ngFor="let highlight of project?.highlights">{{highlight}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="snapshot-section">
  <h1>A Closer Look</h1>
  <div class="snapshots">
    <img *ngFor="let imgPath of project?.snapshotImgPaths" [src]="imgPath" />
  </div>
</div>