<div class="header">
  <h1>{{project?.name}}</h1>
  <p>{{project?.shortDescription}}</p>
</div>
<div class="detail-section">
  <div class="main-section">
    <div id="slider-container" class="slider-container">
      <img class="slider-img" [src]="project?.imgPath" />
      <div class="hover-text">Hover Me</div>
    </div>
    <div>
      <h1>{{project?.name}}</h1>
      <p>{{project?.longDescription}}</p>
    </div>
  </div>
  <div class="tech-section">
    <h1>About this project</h1>
    <div class="tech-content">
      <div>
        <h2>Tags</h2>
        <ul class="tech-list">
          <li *ngFor="let tag of project?.tags">{{tag}}</li>
        </ul>
      </div>
      <div>
        <h2>Technologies</h2>
        <ul class="tech-list">
          <li *ngFor="let tech of project?.techs">{{tech}}</li>
        </ul>
      </div>
      <div>
        <h2>Hightlights</h2>
        <ul class="highlight-list">
          <li *ngFor="let highlight of project?.highlights">{{highlight}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="snapshot-section">
  <img *ngFor="let imgPath of project?.snapshotImgPaths" [src]="imgPath" />
</div>