/* You can add global styles to this file, and also import other style files */
$small-spacing: 35px;
$medium-spacing: 50px;
$large-spacing: 100px;
$max-page-width: 1440px;
$on-hover-color: #bf7497;
$theme-background-color: #f7f4f0;
$theme-background-secondary-color: #d9dacc;

body {
  margin: 0 auto;
  font-family: "Encode Sans Condensed", sans-serif;
}
