/* You can add global styles to this file, and also import other style files */
$small-spacing: 35px;
$medium-spacing: 50px;
$large-spacing: 100px;
$max-page-width: 1440px;
$on-hover-color: #b3907a;
$theme-background-color: #f7f4f0;
$theme-background-secondary-color: #d9dacc;
$theme-third-color: #efe7da;
$font-family-secondary: "Montserrat";
$font-family-primary: "Playfair Display";

body {
  margin: 0 auto;
  height: 100%;
  font-family: $font-family-secondary, sans-serif;
}
