/* You can add global styles to this file, and also import other style files */
$mobile-padding: 35px;
$tablet-padding: 50px;
$desktop-padding: 100px;
$max-page-width: 1440px;

body {
  margin: 0 auto;
}
